snippet ie "IE Conditional Comment"
<!--[if ${1:lt} IE ${2:8}]>$0<![endif]-->
endsnippet

snippet !ie "IE Conditional Comment: NOT Internet Explorer"
<!--[if !IE]><!-->$1<!-- <![endif]-->$0
endsnippet
# vim:ft=snippets:
